* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header-title {
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 0;
    text-align: center;
}

#header-title h1 {
    font-weight: 500;
}

#keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color: #f4f4f4;
    max-width: 500px;
    margin: 4rem auto;
    border-radius: 5px;
    padding: 2rem;
    font-size: 1.5rem;
}

#keys .key {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 0.5rem 2rem;
}

kbd {
    margin-right: 2rem;
    border: 1px solid #ccc;
    width: 50px;
    /* margin: 0 1.5em;
    padding: 0.5rem 1rem; */
    margin: 0 1.2em;
}